<div class="wrapper">
  <div class="sub-wrapper">
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

    <div class="main-bar">
      <div class="error-bar">
          <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
          <% end %>
      </div>

      <%= form_with model: @diary, url: diaries_path, id: "new_edit", local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <div class="forms">
            <div class="form">
              <div class="form-title">･ー Date ー･</div>
              <div class="diary-date-form"><%= f.date_select :diary_date %></div>
            </div>

            <div class="contents-form">
              <div class="form-left">
                <div class="form">
                  <div class="form-title">･ー Title ー･</div>
                  <div class="diary-title-form"><%= f.text_field :title %></div>
                </div>

                <div class="form">
                  <div class="form-title">･ー Text ー･</div>
                  <div class="diary-text-form"><%= f.text_area :text %></div>
                </div>
              </div>

              <div class="form-right">
                <div class="form">
                  <div class="form-title">･ー Image ー･</div>
                  <div class="click-upload">
                    <%= f.file_field :images, accept: ".png, .jpg, .jpeg", name: 'diary[images][]', data: {index: 0} %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="submit">
            <%= f.submit %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>
